<a href="https://colab.research.google.com/github/shashank1947/AI/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('/content/drive/MyDrive/forestfires (2).csv')
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [4]:
data.drop(['month','day'], axis='columns', inplace=True)
data

     X  Y  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 11 columns]

In [5]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(data, train_size = 0.7, test_size = 0.3, random_state = 100)

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['X', 'Y','FFMC', 'DMC', 'DC','ISI','temp','RH','wind','rain','area']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

         X         Y      FFMC       DMC  ...        RH      wind  rain      area
124  0.250  0.285714  0.975484  0.289456  ...  0.411765  0.529412   0.0  0.000000
209  0.875  0.142857  0.967742  0.274983  ...  0.129412  0.470588   0.0  0.021461
329  0.375  0.142857  0.948387  0.348725  ...  0.141176  0.364706   0.0  0.003053
397  0.500  0.571429  0.940645  0.620951  ...  0.211765  0.317647   0.0  0.003328
488  0.375  0.285714  0.985806  0.483115  ...  0.658824  0.788235   0.0  0.042811
..     ...       ...       ...       ...  ...       ...       ...   ...       ...
228  0.375  0.571429  0.965161  0.510682  ...  0.129412  0.258824   0.0  0.058762
280  0.375  0.571429  0.851613  0.088215  ...  0.517647  0.470588   0.0  0.008498
53   0.375  0.142857  0.947097  0.379394  ...  0.317647  0.470588   0.0  0.000000
350  0.500  0.285714  0.947097  0.337354  ...  0.705882  0.317647   0.0  0.003401
79   0.000  0.000000  0.932903  0.413853  ...  0.047059  0.682353   0.0  0.000000

[361 rows x 11 columns]

In [7]:
y_train = df_train.pop('area')
X_train = df_train
y_test = df_test.pop('area')
X_test = df_test

In [8]:
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.tree import plot_tree # tree diagram
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [9]:
y_pred_test = regressor.predict(X_test)
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred_test})
df

     Real Values  Predicted Values
217     0.150891          0.000000
260     0.044043          0.007480
142     0.003036          0.000000
152     0.007117          0.000880
255     0.000000          0.014668
..           ...               ...
287     0.000000          0.000000
21      0.000000          0.000000
271     0.046133          0.000000
407     0.000000          0.000000
393     0.000000          0.009836

[156 rows x 2 columns]

In [10]:
y_pred_train = regressor.predict(X_train)
df = pd.DataFrame({'Real Values':y_train, 'Predicted Values':y_pred_train})
df

     Real Values  Predicted Values
124     0.000000          0.000000
209     0.021461          0.021461
329     0.003053          0.003053
397     0.003328          0.003328
488     0.042811          0.042811
..           ...               ...
228     0.058762          0.058762
280     0.008498          0.008498
53      0.000000          0.000000
350     0.003401          0.001701
79      0.000000          0.000000

[361 rows x 2 columns]

In [11]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.0006408816521545831
Mean square error 4.10729292068388e-07
Mean absolute error 9.746231296403157e-05

In [12]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.18610880379581887
Mean square error 0.0346364868503106
Mean absolute error 0.06762765500282783

In [13]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [14]:
list_of_columns = data.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['area'], axis='columns', inplace=True)

In [17]:
input_data.at[0, 'X'] = float(input('enter x'))
input_data.at[0, 'Y'] = float(input('enter y'))
input_data.at[0, 'FFMC'] = float(input('enter FFMC'))
input_data.at[0, 'DMC'] = float(input('enter DMC'))
input_data.at[0, 'DC'] = float(input('enter DC'))
input_data.at[0, 'ISI'] = float(input('enter ISI'))
input_data.at[0, 'temp'] = float(input('enter TEMP'))
input_data.at[0, 'RH'] = float(input('enter RH'))
input_data.at[0, 'wind'] = float(input('enter WIND'))
input_data.at[0, 'rain'] = float(input('enter RAIN'))


input_data['X']=(input_data['X']-data['X'].min())/(data['X'].max()-data['X'].min())
input_data['Y']=(input_data['Y']-data['Y'].min())/(data['Y'].max()-data['Y'].min())
input_data['FFMC']=(input_data['FFMC']-data['FFMC'].min())/(data['FFMC'].max()-data['FFMC'].min())
input_data['DMC']=(input_data['DMC']-data['DMC'].min())/(data['DMC'].max()-data['DMC'].min())
input_data['DC']=(input_data['DC']-data['DC'].min())/(data['DC'].max()-data['DC'].min())
input_data['ISI']=(input_data['ISI']-data['ISI'].min())/(data['ISI'].max()-data['ISI'].min())
input_data['temp']=(input_data['temp']-data['temp'].min())/(data['temp'].max()-data['temp'].min())
input_data['RH']=(input_data['RH']-data['RH'].min())/(data['RH'].max()-data['RH'].min())
input_data['wind']=(input_data['wind']-data['wind'].min())/(data['wind'].max()-data['wind'].min())
input_data['rain']=(input_data['rain']-data['rain'].min())/(data['rain'].max()-data['rain'].min())
model = pickle.load(open('model.pkl', 'rb'))
prediction = model.predict(input_data)
result = prediction[0]
area=result*(data['area'].max()-data['area'].min())+data['area'].min()
print('area is',area)

enter x6
enter y5
enter FFMC92.5
enter DMC121.1
enter DC674.4
enter ISI8.6
enter TEMP25.1
enter RH27
enter WIND4
enter RAIN0
area is 1090.8399999999997